            
                <nav>
                    <img id="logo" src="/images/redcarpetlogo.png">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/items">Cool Stuff</a></li>
                        <li><a href="/users">Owners</a></li>
                    </ul>
                    <ul class="registerlogin">
                        <li> <a href="/users/new"><img src="/images/register.png" width="70" height="70" id="logo">Register</a></li>
                        <li><a href="/users/login"><img src="/images/login.png" width="70" height="70" id="logo">Login</a></li>
                    </ul>
                </nav>
