        <div id="navbar"> 
            <nav>
                <div class="logo">
                    <img id="logo" src="/images/redcarpetlogo.png">
                </div>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/items">Celebs</a></li>
                    <li><a href="/users">Members</a></li>
                    <li> <a href="/users/new"><img src="/images/register.png" width="70" height="70" class="icon">Register</a></li>
                    <li><a href="/users/login"><img src="/images/login.png" width="70" height="70" class="icon">Login</a></li>
                </ul>
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </div>
            <script src="navigation.js"></script>

