            
                <nav>
                    <img src="https://d1xoxjvid3rlgu.cloudfront.net/wp-content/uploads/2018/07/icon-camera.png" width="70" height="70" id="logo">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/items">Cool Stuff</a></li>
                        <li><a href="/users">Owners</a></li>
                    </ul>
                    <ul class="registerlogin">
                        <li> <a href="/users/new"><img src="http://cdn.onlinewebfonts.com/svg/img_568656.png" width="70" height="70" id="logo">Register</a></li>
                        <li><a href="/users/login"><img src="https://image.flaticon.com/icons/png/512/16/16036.png" width="70" height="70" id="logo">Login</a></li>
                    </ul>
                </nav>
