<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|DM+Serif+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Signika&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Adamina&display=swap" rel="stylesheet">

    <title>Home Page</title>
  </head>
  <body>
      <%- include ./partials/_navbar.ejs %>
    <main>
    <div class="banner">
      <img class="banner-image" src="/images/bannertwo.jpg">
    </div>

      <h1 class="title">Welcome to Red Carpet</h1>
      <div class="welcome">
        <p>This site gives members the opportunity to like or dislike celebrity red carpet outfits.</p><br/>
        <p>Join now to:</p>
        <p>Upload your favorite celebrity outfits (even if they are not on the red carpet).</p>
        <p>Browse what other members post. </p>
        <p>Like or dislike other peoples' posts.</p><br/>
      </div>

      <div>
        <p class="mostleast">Most Loved and Least Loved<p>
        <div class="ranks">
          <ul>
        
            <li></li>
        </ul>
      </div>
      </div>
    </main>
  </body>
  
  <footer>
    <%- include ./partials/_footer.ejs %>
  </footer>
</html>
