<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home Page</a></li>
          <li><a href="/users">Owners</a></li>
        </ul>
      </nav>
    </header>
    <h1>Cool Stuff Index Page</h1>
        <ul>
            <%items.forEach(function(item,index){ %>
            <li>
                <a href="/items/<%=item._id%>"><img src='<%=item.img%>'></a>
            </li>
            <% }) %>
        </ul>
        <nav>
            <a href="/items/new">Add a new item!</a>
        </nav>
    </body>
</html>
