<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|DM+Serif+Display&display=swap" rel="stylesheet">
    <title>Add New Items</title>
  </head>
  <body>
    <header>
      <%- include ../partials/_navbar.ejs %>
    </header>
    <main>
      <h1>Add An Item</h1>
      <form action="/items" method="post">
        Title: <br/><input type="text" name="title" /><br/>
        Description: <br/><input type="text" name="description" /><br/>
        URL: <br/><input type="text" name="img" /><br/>
        
        <input type="submit" value="Upload Your Cool Stuff!"/>
      </form>
    </main>
  </body>
  <footer>
    <%- include ../partials/_footer.ejs %>
  </footer>
</html>
