<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home Page</a></li>
                <li><a href="/items">Cool Stuff</a></li>
                <li><a href="/users">Owners</a></li>
            </ul>
        </nav>
        <h1>Add An Item</h1>
    </header>
    <main>
      <form action="/items" method="post">
        Title: <br/><input type="text" name="title" /><br/>
        Description: <br/><input type="text" name="description" /><br/>
        URL: <br/><input type="text" name="img" /><br/>
        <input type="submit" value="Upload Your Cool Stuff!"/>
      </form>
    </main>
  </body>
</html>
