*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, 
html {
	min-height: 98vh;
	text-transform: uppercase;
	cursor: default;
	bottom-margin: 5px;
	font-size: 15px;
}

h1 {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 50px;
	color: black;
	margin: 35px;
	font-family: 'Adamina';
}

/*Nav Bar https://www.youtube.com/watch?v=Nv7AardvxO0*/
nav {
	display: flex;
	justify-content: flex-end;
	min-height: 8vh;
	background-color: black;
	font-family: 'Poppins', sans-serif;
	color: white;
	list-style: none;
	padding: 20px;	
	text-transform: uppercase;
	font-size: 15px;
}

nav ul li {
	display: flex;
	justify-content: flex-end;
  	list-style: none;
	display: inline-block;
	transition: 0.8s all;
	font-size: 12px;
}

nav ul li a:hover {
	color: #A80000;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 25px;

}

#list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	color: black;
	text-decoration: none;
	list-style-type: none;
}

#list a{
	text-decoration: none;
	color: #333;
	padding:15px;
	margin: 10px;
}

#list a:hover{
	text-decoration: none;
	color: #A80000;
	padding:15px;
	margin: 10px;
}

.registerlogin {
	float: right;
}

footer {
	padding: 0 20px;
	background-color: #A80000 ;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	text-transform: uppercase;
	bottom: 0px;
	position: static;
	width: 100vw;
	justify-content: center;
}
main {
 min-height: 95vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 /* padding-bottom: 100px; */
}
.celebPhoto, .userImages {
	display: inline-block;
	max-height: 350px;
	margin: 8px;
	border-radius: 30px

}
.leftButton {
	display: inline-block;
	margin-right: 40px;

	
}
.rightButton {
	display: inline-block;
	margin-left: 40px;

} 

.heartButton {
	height: 30px;
	width: 30px
}
/* .likeDislikeButtons {
	margin: 1px;

} */

.copyright {
	margin: 5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.title {
	display: flex;
	justify-content: center;
	font-size: 45px;
	color: black;
	margin: 35px;
	font-family: 'Adamina';
}

.logo {
	display: block;
	order: 1;
	flex-grow: 1;
	float: left
}
.nav-links {
	order: 1;
	flex-grow: 1;
	text-align: right;
	padding-top: 10px;
}
.nav-links li {
	padding-right: 10px;
	margin-left: 25px

}
#logo {
	text-align: left;
	width: 55px;
	height: 55px;
}
.icon {
	width: 20px;
	height: 20px;
}

.burger{
	display: none;
	float: right
}

/*.burger div{
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 5px;
	transition: all 0.3s ease;
}*/

@media screen and (max-width:835px) {
	body{
		overflow-x: hidden;
		cursor: pointer;
	}
	.nav-links {
		position: absolute;
		right: 100%;
		height: 92vh;
		top: 95px;
		background-color: black;
		display: none;
		flex-direction: column;
		align-items: center;
		/* justify-content: space-around; */
		width: 100%;
		
		color: white;
	}
	.nav-links li{
	/*	opacity: 0;*/
	margin: 25px;
	/* font-size: 50px */
	}
	#navContainer {
		height: 95px;
		border-bottom: 2px solid #A80000;
		border-bottom-color: #A80000
	}

	.burger {
		display: block;
		margin-top: 5px;
	}
	.burger div{
		display: flex;
		justify-content: right;
		width: 40px;
		height: 5px;
		background-color: white;
		margin: 8px;
	}
	.nav-links li:hover {
	cursor: pointer;
	color: #A80000;

	}
	.clearfix{
		font-size: 10px
	}
}

.nav-active {
	transform: translateX(0%);
}
#navbar {
	height: 95px
}
@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translate(50px);
	} to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(-45deg) translate(-5px,6px);
}

.banner-image {
	max-width: 100%;
	height: auto;
}

.welcome p{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	display: flex;
	justify-content: center;
	margin: 10px 30px;
	text-align: center;
}

.mostleast{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
	color: #A80000;
	display: flex;
	justify-content: center;
}

.ranks {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-decoration: none;
}

.showing{ 
	max-height: 650px;
	font-size: 17px;
    display: flex;
    margin: 10px auto;
    justify-content: center;
}
/* 
.editButton, .deleteButton {
	display: inline-block;
	margin-left:
} */

.likedislike {
text-align: center

}
.editDelete, .inputField {
	text-align: center

}

.modal-dialog {
	text-align: center;
}

#uploadButton, #loginButton, #registerButton, .addCelebrity {
	margin: 40px;
	background-color: #A80000;
	color: white;
	font-weight: bold;
	border: none;
}
.addCelebrity {
	padding: 10px;
	font-size: 20px;
	border-radius: 20px;
	text-align: center;
}

.formFields {
	width: 50%;
	height: 40px;
	margin: 2px;
	font-size: 20px;
	border:solid 1px slategray;
	border-radius: 4px;
	text-align: center;
}


.display-flex
{
	display: flex;
	transform: translateX(100%);
	transition: transform 0.5s ease-in;
}

.editButton, .deleteButton {
	padding: 0 10px 0 10px;
	border-style: solid;
	display: inline-block;
	border:solid 1px black;
	color: black;
	border-radius: 5px;
	margin-right: 30px;
	margin-left: 30px

}
.editSection, .deleteSection {
	display: inline-block;

}

#showCelebPhoto{
	border-radius: 10px;
	margin: 0 auto;
	border: 6px solid black;
	/* border-style: groove;	 */
}

