<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <header>
      <h1>Edit User Information</h1> 
    </header>
    <main>
        <h2> User Info:</h2>
            <form action="/users/<%=user._id%>?_method=PUT" method="post">
                Username: <input type="text" name="username" value="<%=user.username%>"/><br/>
                Email: <input type="text" name="email" value="<%=user.email%>"/><br/>
                Password: <input type="text" name="password" value="<%=user.password%>"/><br/>
                <input type="submit" value="Update User Information"/>
            </form>
    </main>
  </body>
</html>