<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|DM+Serif+Display&display=swap" rel="stylesheet">
        <title>User Index Page</title>
    </head>
    <body>
        <header>
        <%- include ../partials/_navbar.ejs %>
        </header>

        <main>
            <h1 class="heading">Users Page</h1>
            <div>
                <ul id="list">
                    <li id="item">
                    <% for(let i = 0; i < users.length; i++){ %>
                    <a href="/users/<%=users[i]._id%>"><%=users[i].username%></a>
                    <%}%>
                    </li>
                </ul>
            </div>
        </main>
    </body>

    <footer>
    <%- include ../partials/_footer.ejs %>
    </footer>
</html>