<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|DM+Serif+Display&display=swap" rel="stylesheet">
    <title>Login</title>
  </head>
  <body>
    <header>
      <%- include ../partials/_navbar.ejs %>
    </header>

    <main>
      <h1 class="heading">User Login</h1>
      <form action="/users/login" method="POST">
        Email:<br/>     <input type="email" name="email"><br/>
        Password:<br/>  <input type="password" name="password"><br/>
        <input type='submit' value="Register"/>
      </form>
    </main>

  </body>
  <footer>
    <%- include ../partials/_footer.ejs %>
  </footer>
</html>