<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Aldrich|DM+Serif+Display&display=swap" rel="stylesheet">
    <title>New User Page</title>
  </head>

  <body>
    <header>
      <%- include ../partials/_navbar.ejs %>
    </header>

    <main>
      <h1>Register</h1>
      <form action="/users" method="POST">
        User Name:<br/> <input type="text" name="username"><br/>
        Email:<br/>     <input type="email" name="email"><br/>
        Password:<br/>  <input type="password" name="password"><br/>
        <input type='submit' value="Register"/>
      </form>
    </main>
  </body>
  
    <footer>
    <%- include ../partials/_footer.ejs %>
    </footer>
</html>