<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
       <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>

         <h2>Login</h2>
      <form action="/users/login" method="POST">
        <input type="text" name="username">
        <input type="password" name='password'>
        <button type='submit'>Login</button>
      </form>

        <h2>Registre</h2>
      <form action="/users/register" method="POST">
        User-Name: <input type="text" name="username"><br/>
        Email:     <input type="email" name="email"><br/>
        Password:  <input type="password" name="password"><br/>
        <input type='submit' value="registre"/>
      </form>

    </main>
  </body>
</html>